In [1]:
from dputils.scrape import Scraper, Tag

In [2]:
def get_data(query, page=1):
    url = f'https://www.amazon.in/s?k={query}&page={page}'
    scraper = Scraper(url)
    print(scraper.url)
    target = Tag(cls='s-main-slot s-result-list s-search-results sg-row')
    items = Tag(cls='sg-col-4-of-24 sg-col-4-of-12 s-result-item s-asin sg-col-4-of-16 sg-col s-widget-spacing-small sg-col-4-of-20')
    title = Tag('h2')
    price = Tag('span', cls='a-price-whole')
    rating =Tag('span', cls='a-size-base')
    oprice = Tag('span', cls='a-offscreen')
    brand = Tag('h5')
    out = scraper.get_all(target, items, 
                    title=title, price=price,
                    rating=rating, oprice=oprice,
                    brand=brand)
    return out

In [12]:
import pandas as pd
query = 'watches'
all_data = []
for i in range(1,25):
    data = get_data(query, i)
    all_data.extend(data)
    print(f'Page {i} done')
df = pd.DataFrame(all_data).dropna(how='all')
df.to_csv('watches.csv', index=False)

https://www.amazon.in/s?k=watches&page=1
Page 1 done
https://www.amazon.in/s?k=watches&page=2
Page 2 done
https://www.amazon.in/s?k=watches&page=3
Page 3 done
https://www.amazon.in/s?k=watches&page=4
Page 4 done
https://www.amazon.in/s?k=watches&page=5
Page 5 done
https://www.amazon.in/s?k=watches&page=6
Page 6 done
https://www.amazon.in/s?k=watches&page=7
Page 7 done
https://www.amazon.in/s?k=watches&page=8
Page 8 done
https://www.amazon.in/s?k=watches&page=9
Page 9 done
https://www.amazon.in/s?k=watches&page=10
Page 10 done
https://www.amazon.in/s?k=watches&page=11
Page 11 done
https://www.amazon.in/s?k=watches&page=12
Page 12 done
https://www.amazon.in/s?k=watches&page=13
Page 13 done
https://www.amazon.in/s?k=watches&page=14
Page 14 done
https://www.amazon.in/s?k=watches&page=15
Page 15 done
https://www.amazon.in/s?k=watches&page=16
Page 16 done
https://www.amazon.in/s?k=watches&page=17
Page 17 done
https://www.amazon.in/s?k=watches&page=18
Page 18 done
https://www.amazon.in/s?k=watches&page=19
Page 19 done
https://www.amazon.in/s?k=watches&page=20
Page 20 done
https://www.amazon.in/s?k=watches&page=21
Page 21 done
https://www.amazon.in/s?k=watches&page=22
Page 22 done
https://www.amazon.in/s?k=watches&page=23
Page 23 done
https://www.amazon.in/s?k=watches&page=24
Page 24 done

In [13]:
df

,title,price,rating,oprice,brand
0,boAt Flash Edition Smart Watch with Activity T...,"1,199",4.0,"₹1,199",boAt
1,Noise Newly Launched Twist Bluetooth Calling S...,"1,999",4.1,"₹1,999",Noise
2,"boAt Wave Prime47 Smart Watch with 1.69"" HD Di...","1,199",3.4,"₹1,199",boAt
3,USM ID116 Smart Watch Smart Bracelet Fitness T...,329,4.3,₹329,USM
4,Fire-Boltt Phoenix Smart Watch with Bluetooth ...,"1,799",4.3,"₹1,799",Fire-Boltt
...,...,...,...,...,...
301,Multicolor Analog Combo Watches for Girls and ...,521,4.1,₹521,CLOUDWOOD
302,Classics Analog White Dial Men's Watch-A503,"1,279",3.9,"₹1,279",TIMEX
303,Analog Gold Dial Women's Watch-NL8064YM01/NN80...,"1,044",4.2,"₹1,044",Sonata
304,Classics Analog Beige Dial Women's Watch -B301,599,4.2,₹599,TIMEX
305,Analog Brown Dial Men's Watch-NL1584SL04/NP158...,"2,995",4.2,"₹2,995",Titan